<?xml version="1.0" encoding="UTF-8"?>

 <beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    
	<bean id="book" class="com.DanskeIt.Example.Book">
	<property name="name" value="C++"></property>
	<property name="author" value="Ranjini"></property>
	<property name="noOfPages" value="100"></property>
	<property name="cost" value="500.00"></property>
	</bean>
	
	<bean id="ebook" class="com.DanskeIt.Example.eBook" parent="book">
	<property name="sizeInMB" value="2"></property>
	</bean>
</beans>